<body>
  <header class="header">
      <div class="header-left">
          <img src="assets/logowhite.png" (click)="navigateTo('/inicial')" alt="Logotipo INOVE" class="logo">
      </div>
      <div class="header-center">
          <button class="search-btn">
              <img src="assets/flaticons/search-icon.png" alt="Ícone de lupa">
          </button>
          <input 
            type="text" 
            class="search-bar" 
            placeholder="Pesquisar Cursos"
            [(ngModel)]="searchQuery" 
            (input)="filterCourses()">
      </div>
      <div class="header-right">
          <button class="profile-btn" (click)="navigateToPerfil()">Perfil</button>
      </div>
  </header>

  <main class="gallery">
    <!-- Mensagem de erro -->
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

    <!-- Exibição dos cursos -->
    <div *ngIf="!errorMessage && filteredCursos.length > 0" class="course-row">
      <div *ngFor="let curso of filteredCursos" class="course-card">
        <img [src]="curso.imageUrl || 'assets/placeholder.png'" alt="Imagem do Curso" class="course-image" (click)="navigateToPreview(curso.id)"/>        
        <h3 class="course-title">{{ curso.name }}</h3>
        <p class="course-description">{{ curso.description }}</p>
      </div>
    </div>
  </main>
</body>
