<body>
    <!-- Header Section -->
    <header class="header">
        <button class="back-btn" onclick="window.history.back();">Voltar</button>
        <img (click)="navigateTo('/inicial')" src="assets/logowhite.png" alt="Logotipo INOVE" class="logo">
    </header>

    <!-- Main Content -->
    <main class="content">
        <h1>Como acessar a plataforma:</h1>

        <section class="help-section">
            <h2>Como acessar?</h2>
            <p>Para acessar nossa plataforma, entre em contato com a instituição onde você leciona. A instituição será responsável por realizar seu cadastro, garantindo a você acesso livre aos cursos disponíveis.</p>
        </section>

        <section class="help-section">
            <h2>Por que usar nossa plataforma?</h2>
            <p>Com a nossa plataforma, você terá acesso a ferramentas inovadoras e cursos exclusivos que o ajudarão a aplicar metodologias pedagógicas mais modernas e eficazes. Uma oportunidade única de transformar sua prática educacional.</p>
        </section>

        <section class="help-section">
            <h2>Acesso à plataforma</h2>
            <p>Uma vez cadastrado por sua instituição, você poderá acessar todos os cursos e recursos educacionais disponíveis. Aproveite esta oportunidade para expandir seu conhecimento e melhorar suas aulas.</p>
        </section>

        <section class="help-section">
            <h2>Termos e Condições</h2>
            <p>Ao utilizar a plataforma, você concorda em seguir nossas diretrizes de uso e ética educacional, garantindo um ambiente respeitoso e colaborativo para todos os participantes.</p>
        </section>

        <!-- Registration Section -->
        <section class="registration-section">
            <h2>Formulário para Cadastro de Escola:</h2>
            <button class="register-btn" (click)="navigateTo('/cadastro-escola')">Cadastrar</button>
        </section>
    </main>
</body>
