    <div class="escola-panel">
      <!-- Header -->
      <header class="header">
        <img src="assets/logowhite.png" alt="Logotipo INOVE" class="logo" (click)="navigateTo('/inicial')" />
      </header>
    
      <div class="content">
        <!-- Side Menu -->
        <aside class="side-menu">
          <h2>Painel da Escola</h2>
          <ul>
            <li (click)="changeTab('usuarios')" [class.active]="activeTab === 'usuarios'">Usuários</li>
            <li (click)="changeTab('dadosEscola')" [class.active]="activeTab === 'dadosEscola'">Dados da Escola</li>
          </ul>
          <button class="btn-logout" (click)="logout()">Sair</button>
        </aside>
    
        <!-- Main Content -->
        <main class="main-content">
          <!-- Usuários Tab -->
          <div *ngIf="activeTab === 'usuarios'">
            <h1>Usuários Cadastrados</h1>
            <table>
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Email</th>
                  <th>CPF</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios; let i = index">
                  <td>{{ usuario.nome }}</td>
                  <td>{{ usuario.email }}</td>
                  <td>{{ usuario.cpf }}</td>
                  <td>
                    <div class="button-group">
                      <button class="btn-blue" (click)="editUser(i)">Atualizar</button>
                      <button class="btn-red" (click)="deleteUser(i)">Excluir</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table><br>
            <button class="btn-orange add-user-btn" (click)="openAddUserModal()">Adicionar Novo Usuário</button>
          </div>
    
          <!-- Dados da Escola Tab -->
          <div *ngIf="activeTab === 'dadosEscola'">
            <h1>Dados da Escola</h1>
            <div class="dados-escola">
              <p><strong>Nome:</strong> {{ escola.nome }}</p>
              <p><strong>Email:</strong> {{ escola.email }}</p>
              <p><strong>Cidade:</strong> {{ escola.cidade }}</p>
              <p><strong>Estado:</strong> {{ escola.estado }}</p>
              <button class="btn-orange" (click)="editEscola()">Editar Dados</button>
            </div>
          </div>
        </main>
      </div>
    
      <!-- Modal para Editar Usuário -->
      <div class="modal-overlay" *ngIf="showEditUserModal" (click)="closeUserModal()"></div>
      <div class="modal" *ngIf="showEditUserModal">
        <header class="modal-header">
          <h2>Atualizar Usuário</h2>
          <span class="close-btn" (click)="closeUserModal()">&#10005;</span>
        </header>
        <div class="modal-body">
          <input type="text" [(ngModel)]="usuarioEdit.nome" placeholder="Nome" />
          <input type="email" [(ngModel)]="usuarioEdit.email" placeholder="Email" />
          <input type="text" [(ngModel)]="usuarioEdit.cpf" placeholder="CPF" />
        </div>
        <footer class="modal-footer">
          <button class="btn-orange" (click)="updateUser()">Salvar</button>
        </footer>
      </div>

            <!-- Modal para Adicionar Usuário -->
      <div class="modal-overlay" *ngIf="showAddUserModal" (click)="closeAddUserModal()"></div>
      <div class="modal" *ngIf="showAddUserModal">
        <header class="modal-header">
          <h2>Adicionar Novo Usuário</h2>
          <span class="close-btn" (click)="closeAddUserModal()">&#10005;</span>
        </header>
        <div class="modal-body">
          <input type="text" [(ngModel)]="newUser.nome" placeholder="Nome" />
          <input type="email" [(ngModel)]="newUser.email" placeholder="Email" />
          <input type="text" [(ngModel)]="newUser.cpf" placeholder="CPF" />
          <input type="password" [(ngModel)]="newUser.senha" placeholder="Senha" />

        </div>
        <footer class="modal-footer">
          <button class="btn-orange" (click)="saveUser()">Salvar</button>
        </footer>
      </div>


    
      <!-- Modal para Editar Escola -->
      <div class="modal-overlay" *ngIf="showEditEscolaModal" (click)="closeEscolaModal()"></div>
      <div class="modal" *ngIf="showEditEscolaModal">
        <header class="modal-header">
          <h2>Editar Dados da Escola</h2>
          <span class="close-btn" (click)="closeEscolaModal()">&#10005;</span>
        </header>
        <div class="modal-body">
          <input type="text" [(ngModel)]="escolaEdit.nome" placeholder="Nome da Escola" />
          <input type="email" [(ngModel)]="escolaEdit.email" placeholder="Email" />
          <input type="text" [(ngModel)]="escolaEdit.cidade" placeholder="Cidade" />
          <input type="text" [(ngModel)]="escolaEdit.estado" placeholder="Estado" />
        </div>
        <footer class="modal-footer">
          <button class="btn-orange" (click)="updateEscola()">Salvar</button>
        </footer>
      </div>
    </div>
    