<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Cadastro</title>
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <img (click)="navigateTo('/inicial')" src="assets/logowhite.png" alt="Logotipo INOVE" class="logo">
    </header>

    <!-- Confirmation Message Section -->
    <section class="confirmation-container">
        <div class="confirmation-box">
            <h1>Aguarde</h1>
            <p>Entraremos em contato pelo e-mail. Agradecemos pela sua atenção!</p>
            <button class="back-btn" (click)="navigateTo('/inicial')">Voltar</button>
        </div>
    </section>
</body>
</html>
