<div class="admin-container">
  <!-- Header -->
  <header class="header">
    <img src="assets/logowhite.png" (click)="navigateTo('/inicial')" alt="Logotipo INOVE" class="logo">
    <button class="btn-logout" (click)="navigateTo('/login')">Sair</button>
  </header>

  <div class="content">
    <!-- Side Menu -->
    <aside class="side-menu">
      <h2>Administração</h2>
      <ul>
        <li (click)="changeTab('usuarios')" [class.active]="activeTab === 'usuarios'">Usuários</li>
        <li (click)="changeTab('escolas')" [class.active]="activeTab === 'escolas'">Escolas</li>
        <li (click)="changeTab('cursos')" [class.active]="activeTab === 'cursos'">Cursos</li>
      </ul>
    </aside>

    <!-- Main Content -->
    <main class="main-content">
      <!-- Usuários Tab -->
      <div *ngIf="activeTab === 'usuarios'">
        <h1>Usuários Cadastrados</h1>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Tipo</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios; let i = index">
              <td>{{ usuario.name }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.role }}</td>
              <td>
                <button class="btn-blue" (click)="toggleUpdateUserModal(usuario)">Atualizar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <button class="btn-orange" (click)="toggleAddUserModal()">Adicionar Novo Usuário</button>
      </div>

      <!-- Escolas Tab -->
      <div *ngIf="activeTab === 'escolas'">
        <h1>Escolas Cadastradas</h1>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Cidade</th>
              <th>Estado</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let escola of escolas; let i = index">
              <td>{{ escola.name }}</td>
              <td>{{ escola.email }}</td>
              <td>{{ escola.city }}</td>
              <td>{{ escola.federativeUnit }}</td>
              <td>
                <button class="btn-blue" (click)="toggleSchoolModal(escola)">Atualizar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <button class="btn-orange" (click)="toggleNewSchoolModal()">Adicionar Nova Escola</button>
      </div>

     <!-- Cursos Tab -->
<div *ngIf="activeTab === 'cursos'">
  <h1>Cursos Cadastrados</h1>
  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Instrutores</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of cursos">
        <td>{{ curso.name }}</td>
        <td>{{ curso.description }}</td>
        <td>
          <span *ngIf="curso.instructors.length > 0; else noInstructors">
            <span *ngFor="let instrutor of curso.instructors; let last = last">
              {{ instrutor.name }}<span *ngIf="!last">, </span>
            </span>
          </span>
          <ng-template #noInstructors>Sem instrutores atribuídos</ng-template>
        </td>
        <td>
          <button class="btn-blue" (click)="openUpdateCourseModal(curso)">Atualizar</button>
        </td>
      </tr>      
    </tbody>
  </table>
  <br>
  <button class="btn-orange" (click)="openAddCourseModal()">Adicionar Novo Curso</button>
</div>


  <!-- Modals -->
<!-- Adicionar Usuário Modal -->
<div class="modal-overlay" *ngIf="showAddUserModal" (click)="closeUserModals()"></div>
<div class="modal" *ngIf="showAddUserModal">
  <header class="modal-header">
    <h2>Adicionar Novo Usuário</h2>
    <span class="close-btn" (click)="closeUserModals()">&#10005;</span>
  </header>
  <div class="modal-body">
    <input type="text" [(ngModel)]="newUser.name" placeholder="Nome" />
    <input type="email" [(ngModel)]="newUser.email" placeholder="Email" />
    <input type="text" [(ngModel)]="newUser.cpf" placeholder="CPF" />
    <input type="password" [(ngModel)]="newUser.password" placeholder="Senha" />

    <label for="role">Tipo</label>
    <select id="role" [(ngModel)]="newUser.role">
      <option [value]="'STUDENT'">Estudante</option>
      <option [value]="'INSTRUCTOR'">Instrutor</option>
      <option [value]="'ADMINISTRATOR'">Administrador</option>
    </select>

    <!-- Escolha da Escola -->
    <div *ngIf="newUser.role === 'STUDENT'">
      <br />
      <label for="school">Escola</label>
      <select id="school" [(ngModel)]="newUser.schoolId">
        <option *ngFor="let escola of escolas" [value]="escola.id">{{ escola.name }}</option>
      </select>
    </div>
  </div>
  <footer class="modal-footer">
    <button class="btn-orange" (click)="addUser()">Salvar</button>
  </footer>
</div>




<!-- Atualizar User Modal -->
<div class="modal-overlay" *ngIf="showUpdateUserModal" (click)="closeUserModals()"></div>
<div class="modal" *ngIf="showUpdateUserModal">
  <header class="modal-header">
    <h2>Atualizar Usuário</h2>
    <span class="close-btn" (click)="closeUserModals()">&#10005;</span>
  </header>
  <div class="modal-body">
    <input type="text" [(ngModel)]="selectedUser.name" placeholder="Nome" />
    <input type="email" [(ngModel)]="selectedUser.email" placeholder="Email" />
    <input type="text" [(ngModel)]="selectedUser.cpf" placeholder="CPF" />
    <label for="role">Tipo  </label>
    <select id="role" [(ngModel)]="selectedUser.role">
      <option [value]="UserRole.STUDENT">Estudante</option>
      <option [value]="UserRole.INSTRUCTOR">Instrutor</option>
      <option [value]="UserRole.ADMINISTRATOR">Administrador</option>
    </select>
  
    <!-- Escolha da Escola -->
    <div *ngIf="selectedUser.role === UserRole.STUDENT">
      <br>
      <label for="school">Escola  </label>
      <select id="school" [(ngModel)]="selectedUser.schoolId">
        <option *ngFor="let escola of escolas" [value]="escola.id">{{ escola.name }}</option>
      </select>
    </div>
  </div>
  <footer class="modal-footer">
    <button class="btn-orange" (click)="updateUser()">Salvar</button>
  </footer>
</div>

  
<!-- Modal para Adicionar Nova Escola -->
<div class="modal-overlay" *ngIf="showNewSchoolModal" (click)="toggleNewSchoolModal()"></div>
<div class="modal" *ngIf="showNewSchoolModal">
  <header class="modal-header">
    <h2>Adicionar Nova Escola</h2>
    <span class="close-btn" (click)="toggleNewSchoolModal()">&#10005;</span>
  </header>
  <div class="modal-body">
    <input type="text" [(ngModel)]="newSchool.name" placeholder="Nome" />
    <input type="email" [(ngModel)]="newSchool.email" placeholder="Email" />
    <input type="text" [(ngModel)]="newSchool.city" placeholder="Cidade" />
    <input type="text" [(ngModel)]="newSchool.federativeUnit" placeholder="Estado" />
    <!--<input type="password" [(ngModel)]="newSchool.password" placeholder="Senha" />-->
  </div>
  <footer class="modal-footer">
    <button class="btn-orange" (click)="addNewSchool()">Salvar</button>
  </footer>
</div>


<!-- Atualizar Escola Modal -->
<div class="modal-overlay" *ngIf="showSchoolModal" (click)="closeSchoolModal()"></div>
<div class="modal" *ngIf="showSchoolModal">
  <header class="modal-header">
    <h2>Atualizar Escola</h2>
    <span class="close-btn" (click)="closeSchoolModal()">&#10005;</span>
  </header>
  <div class="modal-body">
    <input type="text" [(ngModel)]="selectedSchool.name" placeholder="Nome" />
    <input type="email" [(ngModel)]="selectedSchool.email" placeholder="Email"/>
    <input type="text" [(ngModel)]="selectedSchool.city" placeholder="Cidade" />
    <input type="text" [(ngModel)]="selectedSchool.federativeUnit" placeholder="Estado" />
  </div>
  <footer class="modal-footer">
    <button class="btn-orange" (click)="updateSchool()">Salvar</button>
  </footer>
</div>


<!-- Modal para Adicionar Novo Curso -->
<div class="modal-overlay" *ngIf="showAddCourseModal" (click)="closeAddCourseModal()"></div>
<div class="modal" *ngIf="showAddCourseModal">
  <header class="modal-header">
    <h2>Adicionar Novo Curso</h2>
    <span class="close-btn" (click)="closeAddCourseModal()">&#10005;</span>
  </header>
  <div class="modal-body">
    <input type="text" [(ngModel)]="newCourse.name" placeholder="Título" />
    <textarea [(ngModel)]="newCourse.description" placeholder="Descrição"></textarea>
    <div class="custom-select">
      <label for="instructorsSelect">Instrutores</label>
      <select id="instructorsSelect" [(ngModel)]="newCourse.instructors" multiple>
        <option *ngFor="let instrutor of instrutores" [value]="instrutor">
          {{ instrutor.name }}
        </option>
      </select>
    </div>
  </div>
  <footer class="modal-footer">
    <button class="btn-orange" (click)="addCourse()">Salvar</button>
  </footer>
</div>

<!-- Modal para Atualizar Curso -->
<div class="modal-overlay" *ngIf="showUpdateCourseModal" (click)="closeUpdateCourseModal()"></div>
<div class="modal" *ngIf="showUpdateCourseModal">
  <header class="modal-header">
    <h2>Atualizar Curso</h2>
    <span class="close-btn" (click)="closeUpdateCourseModal()">&#10005;</span>
  </header>
  <div class="modal-body">
    <input type="text" [(ngModel)]="selectedCourse.name" placeholder="Título" />
    <textarea [(ngModel)]="selectedCourse.description" placeholder="Descrição"></textarea>
    <div class="custom-select">
      <label for="instructorsSelect">Instrutores</label>
      <select id="instructorsSelect" [(ngModel)]="selectedCourse.instructors" multiple>
        <option *ngFor="let instrutor of instrutores" [value]="instrutor">
          {{ instrutor.name }}
        </option>
      </select>
    </div>
  </div>
  <footer class="modal-footer">
    <button class="btn-orange" (click)="updateCourse()">Salvar</button>
  </footer>
</div>

